<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script type="text/javascript" href="/bower_components/angular/angular.min.js"></script>
</head>

<body>

<div class="container">
	<div class="jumbotron">
	<h1>You are About to Get Hungry</h1>
	<p>Here's Top 10 Most Popular 'Teriyaki Salmon' Videos on YouTube!  (Node, Ejs and Express)</p>
	</div>
	<hr>
	<ul>
		<% for (var i=0; i < content.length; i++) { %>
		<li>
			<h2><%= content[i].snippet.title %></h2>
			<iframe width="420" height="315" src="//www.youtube.com/embed/<%=content[i].id.videoId%>" frameborder="0" allowfullscreen></iframe>
		</li>
		<% } %>
	</ul>
<blockquote>Happy cooking!</blockquote>
</div>

<script type="text/javascript" src ="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components\bootstrap\dist\js
\bootstrap.min.js"></script>
</body>
</html>